body {
  background-color:	#D8D8D8;
}
table {
   border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
tr {
  background-color:#FFF;
  color:#000;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.category_table tr:first-child td {
    vertical-align: top;
}
