body {
  background-color:	#D8D8D8;
}
table {
  min-width: 1000px;
   border: 1px solid black;
    padding: 15px;
    background-color:#FFF;
  color:#000;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

tr:first-child td {
    font-size: 40px;
    text-align: left;
    
}
tr:nth-child(3) {
   background: #ff0000;
}
